html {
  font-size: 12px
}
@media only screen and (min-width:321px) { 
  html { font-size: 14.2px!important; }
}
@media only screen and (min-width:361px) { 
  html { font-size: 14.2px!important; }
}
@media only screen and (min-width:400px) { 
  html { font-size: 14.8px!important; }
}
@media only screen and (min-width:414px) {
  html{ font-size: 15.6px!important; }
}
html, body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, '微软雅黑', Arial, sans-serif;
  color: #343434;
}
body{
  max-width: 420px;
  margin: 0 auto;
}
textarea {
  resize: none;
  outline: none;
}
a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(255,0,0,0);
}
a {
  text-decoration: blink;
}
input {
  outline:none;
}

body {
  background-color: #f6f4f2;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23a3a195' fill-opacity='0.26' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.ui-section {
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  max-width: 420px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
}
.ui-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: none;
}

.button {
  background-color: #FF4351;
  border-color: #FF4351;
  color: #FFF;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 2.5rem;
  margin: 0;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  border-radius: 14px;
  margin: 10px auto 0;
  width: 50%;
  display: block;
}
.button:visited {
  color: #fff;
}
.button:hover, .button:focus {
  background-color: #ff7680;
  border-color: #ff7680;
  color: #FFF;
  text-decoration: none;
  outline: none;
}
.button:active, .button.active, .button.is-active {
  background-color: #f64c59;
  border-color: #f64c59;
  color: #ff1022; 
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button-3d {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 #ff1022, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #ff1022, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d:hover, .button-3d:focus {
  -webkit-box-shadow: 0 7px 0 #ff0618, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #ff0618, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d:active, .button-3d.active, .button-3d.is-active {
  top: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-box-shadow: 0 2px 0 #dc0010, 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 #dc0010, 0 3px 3px rgba(0, 0, 0, 0.2);
}
.ui-panel-title {
  font-size: 1.8rem;
  text-align: center;
  color: #eee;
  font-weight: 300;
  margin: 0;
  padding: .8rem .5rem;
}
.ui-panel-content {
  position: relative;
}
.ui-panel-pic {
  margin: 0 5%;
  width: 90%;
}

.ui-panel-input {
  color: #000;
  background: transparent;
  box-shadow: none;
  border: 0;
  max-width: 45%;
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}
#q1 {top: 2%; left: 5%;}
#q2 {top: 35%; left: 5%;}
#q3 {top: 69%; left: 5%;}
#a1 {top: 2%; left: 50%;}
#a2 {top: 35%; left: 50%;}
#a3 {top: 69%; left: 50%;}

.ui-panel-intro {
  margin: 1rem 5%;
}
